#templates {
  display: none; }

#measurer {
  visibility: hidden; }

#scratch {
  width: 225px;
  min-width: 225px; }

#actions {
  padding-bottom: 10px; }

#courseList {
  border-top: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 8px;
  border-top: 1px solid #cbcbcb; }
  #courseList .course {
    padding: 10px;
    border: 1px solid #cbcbcb;
    border-top: none; }

.course .controls {
  float: right; }

.controls div {
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  text-align: center; }

.course > label > .name {
  font-weight: bold; }

.sectionType {
  margin-left: 15px;
  padding-top: 4px; }

.sections {
  margin-left: 15px;
  padding: 4px; }

td {
  padding: 0px; }

#scheduler {
  width: 100%; }
  #scheduler tr {
    vertical-align: top; }

#calendar {
  background-color: #ddf1ff;
  padding: 8px;
  border: 1px solid #cbcbcb;
  min-width: 500px;
  max-width: 813px;
  margin: auto; }
  #calendar table {
    border-collapse: collapse; }
  #calendar .day {
    width: 150px; }

th.day {
  padding-bottom: 8px; }

td.day {
  background-color: #fffbf2; }

#calendar .scrollbar {
  width: 9px; }
#calendar td {
  border-right: 1px solid #cbcbcb; }

.scroller {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid #cbcbcb; }

.times {
  width: 40px;
  min-width: 40px;
  text-align: right; }

.days .times {
  background-color: #efefef; }

.time {
  position: absolute;
  font-size: 10pt;
  border-top: 1px solid #cccccc;
  width: 100%; }

.forceHeight {
  visibility: hidden;
  width: 0px;
  height: 1344px; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

.hour {
  position: absolute;
  height: 0px;
  width: 100%;
  border-top: 1px solid #cccccc; }

.halfHour {
  position: absolute;
  height: 0px;
  width: 100%;
  border-top: 1px dashed #cccccc; }

.businessHours {
  position: absolute;
  width: 100%;
  top: 504px;
  height: 448px;
  background-color: white; }

.event {
  position: absolute;
  overflow: hidden;
  width: 100%; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

.event .content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 100; }

.stripes {
  position: absolute;
  overflow: hidden;
  width: 100%; }

.stripes div {
  position: absolute;
  height: 128px;
  width: 128px; }

.solid.color0 {
  background-color: #bfeaff; }

.solid.color0.a {
  background-color: #80d4ff; }

.solid.color0.b {
  background-color: #40bfff; }

.solid.color1 {
  background-color: #ffefbf; }

.solid.color1.a {
  background-color: #ffdf80; }

.solid.color1.b {
  background-color: #ffcf40; }

.solid.color2 {
  background-color: #ffbfbf; }

.solid.color2.a {
  background-color: #ff8080; }

.solid.color2.b {
  background-color: #ff4040; }

.solid.color3 {
  background-color: #e4ffbf; }

.solid.color3.a {
  background-color: #caff80; }

.solid.color3.b {
  background-color: #afff40; }

.solid.color4 {
  background-color: #cabfff; }

.solid.color4.a {
  background-color: #9580ff; }

.solid.color4.b {
  background-color: #6040ff; }

.solid.color5 {
  background-color: #ffbfff; }

.solid.color5.a {
  background-color: #ff80ff; }

.solid.color5.b {
  background-color: #ff40ff; }

.solid.color6 {
  background-color: #bfffdf; }

.solid.color6.a {
  background-color: #80ffbf; }

.solid.color6.b {
  background-color: #40ff9f; }

.solid.color7 {
  background-color: #ffd5bf; }

.solid.color7.a {
  background-color: #ffaa80; }

.solid.color7.b {
  background-color: #ff8040; }

.stripes.color0 div {
  background-image: url("stripes/0.gif"); }

.stripes.color0.a div {
  background-image: url("stripes/0.a.gif"); }

.stripes.color0.b div {
  background-image: url("stripes/0.b.gif"); }

.stripes.color1 div {
  background-image: url("stripes/1.gif"); }

.stripes.color1.a div {
  background-image: url("stripes/1.a.gif"); }

.stripes.color1.b div {
  background-image: url("stripes/1.b.gif"); }

.stripes.color2 div {
  background-image: url("stripes/2.gif"); }

.stripes.color2.a div {
  background-image: url("stripes/2.a.gif"); }

.stripes.color2.b div {
  background-image: url("stripes/2.b.gif"); }

.stripes.color3 div {
  background-image: url("stripes/3.gif"); }

.stripes.color3.a div {
  background-image: url("stripes/3.a.gif"); }

.stripes.color3.b div {
  background-image: url("stripes/3.b.gif"); }

.stripes.color4 div {
  background-image: url("stripes/4.gif"); }

.stripes.color4.a div {
  background-image: url("stripes/4.a.gif"); }

.stripes.color4.b div {
  background-image: url("stripes/4.b.gif"); }

.stripes.color5 div {
  background-image: url("stripes/5.gif"); }

.stripes.color5.a div {
  background-image: url("stripes/5.a.gif"); }

.stripes.color5.b div {
  background-image: url("stripes/5.b.gif"); }

.stripes.color6 div {
  background-image: url("stripes/6.gif"); }

.stripes.color6.a div {
  background-image: url("stripes/6.a.gif"); }

.stripes.color6.b div {
  background-image: url("stripes/6.b.gif"); }

.stripes.color7 div {
  background-image: url("stripes/7.gif"); }

.stripes.color7.a div {
  background-image: url("stripes/7.a.gif"); }

.stripes.color7.b div {
  background-image: url("stripes/7.b.gif"); }
